/*
 * CSS for pinball project
 */

/* Reset */
 * {
 	margin:  0;
 	padding: 0;
 	list-style: none;
 }

/* General */
#main {
	width: 995px;
	margin: 0 auto;
	font-family: Calibri,Verdana,sans-serif;
}
header {
	padding: 20px;
	border: 1px dashed #D6BDF2;
}
menu {
	width: 20%;
}
menu ul {
		padding-top: 20px;
}
section {
	width: 78%;
	margin: 10px 0 0 15px;
}
menu,
section {
	float: left;
}
footer {
	clear: both;
	padding: 10px;
	border:  1px dashed #D6BDF2;
	text-align: center;
}
/* Icones */
#inici   	{ background-image: url(ico/dialog.png); }
#recrea  	{ background-image: url(ico/products.png); }
#empresa 	{ background-image: url(ico/build.png); }
#torneig 	{ background-image: url(ico/reports.png); }
#contacte 	{ background-image: url(ico/email.png); }
#jocs 	 	{ background-image: url(ico/users.png); }
#registre 	{ background-image: url(ico/kgpg_sign.png); }

/* Menu */
.menu {
	margin: 5px 5px 5px 0 ;
	color:#FFF;
	font-size:0.9em;
	background-color:rgb(173, 97, 97);
	border:1px solid #F90;
	border-radius:8px 8px 8px 8px;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
}
.menu a
{	display:block;
	color:#FFF;
	line-height: 18px;
	text-decoration:none;
    margin-bottom:10px;
    border:2px solid rgb(173, 97, 97);
    padding:8px;
    padding-left:40px;
	background-position:top left;
	background-repeat:no-repeat;
}
.menu a:hover { color:#000;background-color:#BFDFFF;border:2px solid #FFF;}

.menu li {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:2px;
	margin:1px 3px;
}
.menu h3 {
	color:#FFF;
	background-color: #000;
	border-bottom:1px solid #C99;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	text-align:center;
	margin-bottom:10px;
	border-radius:8px 8px 0px 0px;
	-moz-border-radius:8px 8px 0px 0px;
	-webkit-border-radius:8px 8px 0px 0px;
}
#dialog {
	margin: 10px 5px;
}
#dialog fieldset {
	padding: 5px;
}
#dialog legend {
	padding: 0 5px;
}
#dialog input[type="submit"] {
	margin-top: 7px;
	width: 45%;
}

/* usuaris.php */
#users h2 {
	background-color: #000;
	color: #FFF;
	padding: 5px 15px;
}

/* recrea.php */
.promo img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 10px;
}
.promo li {
	clear: both;
	padding: 10px 5px;
	border-bottom: dashed 2px #F1BBFD;
}
#grid {
	width: 100%;
	height: 450px;
}
#toolbar {
	padding: 4px; 
	border: 1px solid silver; 
	border-radius: 3px;
	margin-bottom: 15px !important;
}