/*
 * CSS for pinball project
 */

/* Reset */
 * {
 	margin:  0;
 	padding: 0;
 	list-style: none;
 }

/* General */
body {
	background: url(ico/bkg-dots.png) repeat #FFF;
}
#main {
	width: 995px;
	margin: 0 auto;
	font-family: Calibri,Verdana,sans-serif;
	font-weight: 400;
	font-style: normal;
	background: none;
}
header {
	margin: 0;
	padding: 3px 0 3px 10px;
	color: #C7C4E7;
	background-color: #FFF4F4;
	box-shadow: 6px 3px 5px #D8D7D7;
}
section {
	margin: 5px;
	border: 1px solid #E8E8FC;
	background-color: #FFF;
}
footer {
	clear: both;
	background-color: #fff;
	padding: 10px;
	border:  1px dashed #D6BDF2;
	text-align: center;
}
/* Icones */
#inici   	{ background-image: url(ico/home.png); }
#recrea  	{ background-image: url(ico/games.png); }
#empresa 	{ background-image: url(ico/business.png); }
#torneig 	{ background-image: url(ico/torneig.png); }
#contacte 	{ background-image: url(ico/email.png); }
#jocs 	 	{ background-image: url(ico/arcade.png); }
#registre 	{ background-image: url(ico/kgpg_sign.png); }
#logout 	{ background-image: url(ico/exit.png); }

/* Menu */
.menu {
	margin:0;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #165489;
	color:#FFF;
	box-shadow: 6px 3px 5px #D8D7D7;
}
.menu ul,
.menu #dialog {
	display: inline-block;
}
.menu ul {
	width: 57%;
}
.menu a
{	display:block;
	color:#FFF;
	text-decoration:none;
    border:2px solid #165489;
    padding: 39px 1px 1px;
    margin-left: 5px;
    width: 60px;
	background-position:top;
	background-repeat:no-repeat;
	text-align: center;
}
.menu a:hover { color:#000;background-color:#BFDFFF;border:2px solid #FFF;}

.menu li {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	padding:2px;
	display: inline-block;
}
.menu span:first-child {
	color: #6AE26A;
}

#dialog {
	width: 40%;
	padding: 10px 0 10px 20px;
	border-left: 4px solid #C0EDFE;
}
#dialog input[type=text],
#dialog input[type=password] {
  padding: 4px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  color: #000000;
  background-color: #ffffff;
}
#dialog input[type="submit"] {
	padding: 5px 10px;
}

#dialog input[type="text"],
#dialog input[type="password"]
 {
	margin:  0;
 	padding: 0;
 	list-style: none;
 	border:1px solid gray;
 	border-radius: 0;
 	width: 151px;
 	height:18px;
}

/* usuaris.php */
#users h2 {
	background-color: #000;
	color: #FFF;
	padding: 5px 15px;
}

/* recrea.php */
.promo img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 10px;
}
.promo li {
	clear: both;
	padding: 10px 5px;
	border-bottom: dashed 2px #F1BBFD;
}
#grid {
	width: 83%;
	height: 550px;
	float: left;
}
#sidebar {
	float: left;
	width: 16.8%;
	height: 550px;
	margin-right: 1px;
}
#toolbar {
	padding: 4px; 
	border: 1px solid silver; 
	border-radius: 3px;
	margin-bottom: 15px !important;
}