/*
 * CSS for pinball project
 */

/* Reset */
 * {
 	margin:  0;
 	padding: 0;
 	list-style: none;
 }

/* General */
#main {
	width: 995px;
	margin: 0 auto;
	font-family: Consolas, monospace;
}
header {
	padding: 20px;
	border: 1px dashed #D6BDF2;
}
menu {
	width: 18%;
}
section {
	width: 80%;
	margin: 10px 0 0 15px;
	border: 1px dashed #D6BDF2;
}
menu,
section {
	float: left;
}
footer {
	clear: both;
	padding: 10px;
	border:  1px dashed #D6BDF2;
}
/* Icones */
#inici   	{ background-image: url(ico/dialog.png); }
#recrea  	{ background-image: url(ico/products.png); }
#empresa 	{ background-image: url(ico/build.png); }
#torneig 	{ background-image: url(ico/reports.png); }
#contacte 	{ background-image: url(ico/email.png); }
#usuaris  	{ background-image: url(ico/users.png); }

/* Menu */
.menu {
	margin: 5px 5px 5px 0 ;
	background-color:rgb(173, 97, 97);
	border:1px solid #F90;
	border-radius:8px 8px 8px 8px;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
}
.menu a
{	display:block;
	line-height: 18px;
	text-decoration:none;
	color:#FFF;
	font-size:0.9em;
    margin-bottom:10px;
    border:2px solid rgb(173, 97, 97);
    padding:8px;
    padding-left:40px;
	background-position:top left;
	background-repeat:no-repeat;
}
.menu a:hover { color:#000;background-color:#BFDFFF;border:2px solid #FFF;}

.menu li {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:2px;
	margin:1px 3px;
}
.menu h3 {
	color:#FFF;
	background-color: #000;
	border-bottom:1px solid #C99;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	text-align:center;
	margin-bottom:10px;
	border-radius:8px 8px 0px 0px;
	-moz-border-radius:8px 8px 0px 0px;
	-webkit-border-radius:8px 8px 0px 0px;
}

/* recrea.php */
.promo img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 10px;
}
.promo li {
	clear: both;
	padding: 10px 5px;
	border-bottom: dashed 2px #F1BBFD;
}

